<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>STORKCLUB</title>
	
	<!-- angular script -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

	<!-- JS and CSS -->
	<link rel="stylesheet" href="/static/css/styles.css">
	<script src="static/js/app.js"></script>
</head>
<body>
	<h1>hello world</h1>
</body>
</html>